<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254326252254-dst4ustdvhg5m2ung9844387e8iisc0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254326252254-dst4ustdvhg5m2ung9844387e8iisc0v</string>
	<key>API_KEY</key>
	<string>AIzaSyA41-Dym_SPTe_bn6ulDic3DOj-TkhxLJM</string>
	<key>GCM_SENDER_ID</key>
	<string>254326252254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nix.homeecart</string>
	<key>PROJECT_ID</key>
	<string>homeecart-2c798</string>
	<key>STORAGE_BUCKET</key>
	<string>homeecart-2c798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254326252254:ios:197bff1099a0128b5d584f</string>
</dict>
</plist>